*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    flex-direction: column;
    display: flex;
    height: 100vh;
}
.navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
nav div img {
    width: 50px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
li a:hover, .p:hover {
    background-color: white;
}
main {
    display: flex;
    flex-grow: 1;
}

article {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    color: black;
    font-weight: 900;
}
.c {
    text-align: left;
    font-size: large;
    color: black;
    font-weight: 700;
}
aside {
    width: 25%;
    background-color: beige;
    font-weight: bold;
    padding: 20px;
}
footer{
    background-color: black;
    height: auto;
    padding: 20px;
    color: white;
}
